@font-face {
  font-family: 'ClarityCity';
  src: url('../assets/fonts/ClarityCity-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.ant-typography,
.ant-card,
.ant-statistic-content-value,
.ant-list,
.ant-timeline {
  font-family: 'ClarityCity' !important;
}


body {
  font-family: 'ClarityCity', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
